<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Midtrans pillow purchase Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bb84c0">  <td>19/07/27 17:10:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckoutpageTest.setup(java.lang.String)[pri:0, instance:com.Midtrans.PillowPurchase.testcases.CheckoutpageTest@39ba5a14]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@362239120</td>   <td></td> </tr>
<tr bgcolor="bb84c0">  <td>19/07/27 17:10:47</td>   <td>8468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckoutpageTest.checkoutpagetitleTest()[pri:1, instance:com.Midtrans.PillowPurchase.testcases.CheckoutpageTest@39ba5a14]">checkoutpagetitleTest</td> 
  <td>main@362239120</td>   <td></td> </tr>
<tr bgcolor="bb84c0">  <td>19/07/27 17:10:48</td>   <td>10373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckoutpageTest.validtransactionsuccess()[pri:2, instance:com.Midtrans.PillowPurchase.testcases.CheckoutpageTest@39ba5a14]">validtransactionsuccess</td> 
  <td>main@362239120</td>   <td></td> </tr>
<tr bgcolor="bb84c0">  <td>19/07/27 17:11:07</td>   <td>29335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckoutpageTest.invalidtransactionFailure()[pri:3, instance:com.Midtrans.PillowPurchase.testcases.CheckoutpageTest@39ba5a14]">invalidtransactionFailure</td> 
  <td>main@362239120</td>   <td></td> </tr>
<tr bgcolor="bb84c0">  <td>19/07/27 17:11:29</td>   <td>50721</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckoutpageTest.tearDown()[pri:0, instance:com.Midtrans.PillowPurchase.testcases.CheckoutpageTest@39ba5a14]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@362239120</td>   <td></td> </tr>
</table>
