<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f989e">  <td>19/07/25 23:42:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ScreenshoTTest.setup()[pri:0, instance:TestNGListenerConcept.ScreenshoTTest@b684286]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1796488937</td>   <td></td> </tr>
<tr bgcolor="7f989e">  <td>19/07/25 23:43:18</td>   <td>20566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScreenshoTTest.takescreenshotTest()[pri:0, instance:TestNGListenerConcept.ScreenshoTTest@b684286]">takescreenshotTest</td> 
  <td>main@1796488937</td>   <td></td> </tr>
</table>
